body {
    background-color: #EFEFF6;
}
#top-bar {
    width: 100px;
    background-color: #2d2d39;
    height: 70px;
    width: 100%;
    padding-left: 2%;
}
#container {
    display: grid;
    grid-row-gap: 0.5%;
}
#content {
    display: grid;
    grid-template-columns: 15% 85%;
    height: 700px;
}
#nav {
    background-color: #2d2d39;
    padding: 0;
}
#menu {
    list-style: none;
    color: #6a6a71;
    padding: 10%;
}
.menu-item {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 25% 75%;
    text-decoration: none;
    color: #6a6a71;
}
.menu-item:hover {
    color: #9e9ea4;
    cursor: pointer;
}
.icon {
    height: 25px;
    width: 25px;
    /*color:8A8C96*/
}
.test {
    text-align: center;
    padding: 0;
}
.item-title {
    padding: 0;
    font-size: 14px;
}
#app-name {
    color: #fff;
}
/*--------------------------------------------------------------------------------------------------------*/

#form-create-user-content {
    padding-left: 20%;
    display: grid;
    grid-template-rows: 10% 50%;
}

#modal-create-user {
    margin:10% auto;
    padding: 1%;
    background-color: #fff;
    width: 40%;
    border: 1px solid #888;
    border-radius: 20px;
}

.field {
    margin-top: 2%;
    margin-bottom: 5%;
    width: 90%;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-row-gap: 25%;
}

input {
    background-color: transparent;
    border: 0px solid;
    height: 90%;
    width: 95%;
    /*background-color:#dbdbe3;*/

}
.input-border {
    padding:2%;
    border: 1px solid #8A8C96;
    border-radius: 10px;
}

#btn-submit{
    padding:2%;
    border:1px solid #c741a0;
    border-radius: 20px;
    width: 100px;
    margin-left:35%;
    margin-top: 5%;
    background-color: #fff;
    color:#c741a0;
}

#btn-submit:hover{
    cursor: pointer;
    background-color: #c741a0;
    color:#fff;
}

.field-submit{
  display: grid;
  grid-template-columns: 80% 15% ;

}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 5%;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  padding: 5%;
  width: 95%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top:0px;
  margin-left: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.small-loader{
  height: 50px,
  width:50px;
  float: left;
}
